* {
  margin: 0;
  padding: 0;
}
.tintuc a {
    text-decoration: none;
    color: black;
}
.tintic-sidebar img {
    width: 100%;
    height: auto;
}
.baiviet a {
    text-decoration: none;
    color: black;
}
.baiviet-1 {
    padding: 20px 0;
}
.baiviet-1 img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.anh {
    padding-top: 10px;
}
nav.navbar.navbar-default.navbar-fixed-top.news-page {
    background: black;
}
i.fa {
    padding-right: 5px;
}

.h3 {
    font-size: 28px;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.tieudebaiviet h3 {
    font-size: 40px;
    padding-bottom: 18px;
    font-weight: 700;
    font-family: inherit;
}

.tintic-sidebar {
    padding: 10px 3px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.38);
    min-height: 95px;
}

.noidung p {
    font-size: 18px;
}

.tieudebaiviet {
    border-bottom: 1px solid rgba(128, 128, 128, 0.19);
    padding: 10px 0;
    width: 95%;
}

.noidung {
    padding-top: 12px;
    width: 95%;
}

.tieudebaiviet span {
    padding-right: 10px;
    color: gray;
}

.tieude span:after {
    /* content: "-"; */
}

.baiviet {
    padding: 20px 0;
}

.sitebar {
    margin-top: 82px;
    height: 800px;
    overflow: auto;
}

.all-tintuc {
    margin-top: 120px;
}
.btn.btn-default.chohang {
  /* display: inline; */
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: white;
  border: transparent;
  color: black;
  padding: 12px 12px;
  margin-top: 10px;
  margin-left: 5px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.tienhoa .btn.btn-default.chohang {
  padding: 10px 8px;
}



span.xanh {
  color: black;
  cursor: pointer;
}

p.thongtin {
  width: 70%;
  padding-left: 48px;
  position: relative;
  top: -16px;
}

p.thongtin.tx {
  text-align: right;
}

.bd-giaohang {
  border-right: 1px dashed rgba(128, 128, 128, 0.48);
  padding: 3px 30px;
  height: 92px;
}

.nav-tabs>li>a {
  color: rgba(128, 128, 128, 0.47);
}

.nav-tabs>li>a:hover {
  border-color: transparent;
  background: transparent;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border-color: transparent;
}

.nav-tabs {
  border: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border: none;
  color: black;
}



#back-to-top .fa.fa-chevron-up {
  font-size: 22px;
  color: rgb(255, 255, 255);
}

.giaohang i.fa {
  left: 0;
  font-size: 22px;
  top: 0px;
  padding: 12px;
}

.khung {
  position: relative;
  overflow: hidden;
}

.slidexacnhan h4 {
  font-size: 26px;
  text-stroke: 0.5px black;
}

.slidexacnhan .carousel-indicators {
  bottom: -28px;
}

.slidexacnhan {
  background: url(images/people.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  min-height: 300px;
  padding: 120px 0px;
  font-size: 22px;
  text-shadow: 1px 1px 1px black;
}

.mautintuc .btn.btn-default {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-size: 17px;
  margin-top: 10px;
}

.mautintuc h3 {
  font-weight: 700;
}

.mautintuc a {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
  color: black;
}

.mautintuc img {
  height: 200px;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
}

.mautintuc :hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 30px gray;
  -moz-box-shadow: 0px 0px 30px gray;
  -ms-box-shadow: 0px 0px 30px gray;
  -o-box-shadow: 0px 0px 30px gray;
  box-shadow: 0px 0px 30px gray;
}



.tintuc {
  padding: 100px 0px;
}

.giaohang p {
  margin-bottom: 0px;
  color: rgba(128, 128, 128, 0.74);
}

.footer {
  background: #233140;
  color: white;
  padding: 20px;
  font-size: 18px;
}

.lienhe i.fa {
  padding-right: 6px;
}

.lienhe a.email {
  color: black;
  font-size: 16px;
}

.lienhe p {
  padding-bottom: 15px;
}

.lienhe {
  background: url(images/truck.jpeg);
  color: black;
  height: 500px;
  padding: 100px;
  text-shadow: 1px 1px 1px white;
}

.giaohang button.btn.btn-primary {
  padding: 12px;
  background: #50fbdd;
  border: none;
  color: black;
  font-size: 18px;
  margin-top: 10px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.giaohang button.btn.btn-primary:hover {
  background: black;
  color: #50fbdd;
}

input.form-control {
  font-size: 20px;
  border: 0 solid;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-bottom: 1px solid rgba(128, 128, 128, 0.23);
  padding: 24px 6px;
  padding-left: 54px;
}



.giaohang {
  padding: 80px 0;
}

.gioithieu1 {
  background: black;
  color: white;
  padding: 100px 0px;
}

._2nut .btn.btn-default {
  margin-left: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 8px 17px;
  font-size: 19px;
  width: 27%;
  font-weight: 600;
  border: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: inset 0px 2px 5px 0px #9d9d9d;
  -moz-box-shadow: inset 0px 2px 5px 0px #9d9d9d;
  -ms-box-shadow: inset 0px 2px 5px 0px #9d9d9d;
  -o-box-shadow: inset 0px 2px 5px 0px #9d9d9d;
  box-shadow: inset 0px 2px 5px 0px #9d9d9d;
}

.btn.btn-default:hover {
  background: rgb(80, 251, 221);
  -webkit-animation: pulse 1s;
  -moz-animation: pulse 1s;
  -ms-animation: pulse 1s;
  -o-animation: pulse 1s;
  animation: pulse 1s;
}

.btn.btn-default.chohang:hover {
  -webkit-animation: tada 1s;
  -moz-animation: tada 1s;
  -ms-animation: tada 1s;
  -o-animation: tada 1s;
  animation: tada 1s;
}

.lienhe a.btn.btn-default {
  background: black;
  color: #50fbdd;
  border-color: #50fbdd;
  font-size: 18px;
  letter-spacing: 2px;
  margin-left: 6px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.lienhe a.btn.btn-default:hover {
  background: #50fbdd;
  color: black;
}

.gioithieu .contain-chu p {
  font-weight: 700;
  font-size: 22px;
  text-shadow: 1px 2px 1px black;
  padding-bottom: 25px;
}

h2.tieude {
  font-size: 50px;
  text-shadow: 3px 3px 2px black;
  padding-bottom: 18px;
  text-transform: uppercase;
  font-family: 'Lora', serif;
}

.tintuc h2.tieude {
  text-shadow: none;
  padding-bottom: 40px;
}

.lienhe h2.tieude {
  text-shadow: none;
}

.giaohang h2.tieude {
  text-shadow: none;
}

.gioithieu {
  background: url(images/truck_1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  color: white;
  padding-top: 200px;
}



.btn.btn-default .chohang {
  display: inline;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: white;
  border: transparent;
  color: black;
  padding: 10px 12px;
}

.btn.btn-default .chohang:hover {
  background: #50fbdd;
  color: #2f0601;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border-top: 5px solid transparent;
  margin: 0px 18px;
  padding: 22px 0px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.tienhoa .navbar-nav>li>a {
  padding: 16px 0px;
}



a#back-to-top {
  display: none;
  background: rgb(0, 0, 0);
  position: fixed;
  bottom: 10px;
  right: 8px;
  padding: 12px 14px;
  border: none;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  -ms-opacity: 0.7;
  -o-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

a#back-to-top:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}

a.chohang:hover {
  -webkit-animation: tada 1s;
  -moz-animation: tada 1s;
  -ms-animation: tada 1s;
  -o-animation: tada 1s;
  animation: tada 1s;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #50fbdd;
  border-color: #50fbdd;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: transparent;
  color: #50fbdd;
  border-color: #50fbdd;
}

a.navbar-brand {
  font-size: 38px;
  font-weight: 700;
  padding-top: 22px;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.tienhoa a.navbar-brand {
  font-size: 28px;
}

.navbar-default .navbar-brand {
  color: white;
  text-shadow: 5px 3px 5px black;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: white;
}

nav.navbar.navbar-default {
  background: transparent;
  border: transparent;
  height: 80px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

nav.navbar.navbar-default.navbar-fixed-top.tienhoa {
  background: black;
  height: 60px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.containt-tieude p {
  font-size: 19px;
}

.giaohang .containt-tieude p {
  font-size: 15px;
}

i.fa.fa-truck,
i.fa.fa-pencil-square-o {
  padding-right: 6px;
}

.mautintuc {
  padding-bottom: 20px;
}

/*.chohang i.fa.fa-truck {
    padding-left: 6px;
    transform: scaleX(-1);
}*/

/* Webkit override Scrollbar with CSS3 */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  -ms-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  -o-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #50fbdd;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #50fbdd;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}