*{margin:0;padding:0; }

.footer .mangxh a {
    color: #a0b1bb;
    text-decoration: none;
    padding: 0 2px;
}

.footer .mangxh a:hover {
    color: white;
}

footer.footer {
    border-top: 5px solid #191d28;
    background: #222534;
    padding: 26px 0;
    color: #88969f;
}

.vienxam .pagination > li > a, .pagination > li > span {
    border: none;
    border-radius: 5px;
}

.vienxam .pagination > li > a:hover {
    color: white;
    background: #1bbc9d;
}

.vienxam .pagination li:first-child a, .vienxam .pagination li:last-child a {
    background: #34495e;
    color: white;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    /* border: none; */
}

.vienxam {
    border-top: 5px solid #a0b1bb;
}

.link h4 {
    margin-top: 24px;
}

.icon2 {
    padding-top: 52px;
}

.icon2 .fa {
    border: 1px solid white;
    padding: 14px;
    margin: 0px 5px;
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;
}

.icon2 .fa:hover {
    background: #21c2f8;
    border-color: #21c2f8;
}

.thumbnail img {
}

.link.text-center {
    position: absolute;
    background: rgba(0, 0, 0, 0.26);
    width: 263px;
    height: 214px;
    color: white;
    transition: 0.4s;
    left: -263px;
}

a.btn.btn-default.xt {
    border-color: black;
    font-size: 18px;
    font-weight: bold;
}

a.btn.btn-default.xt:hover {
    background: black;
    color: white;
}

.thumbnail .caption {
    padding: 0px;
}

.baiviet .thumbnail {
}

.thumbnail {
    border: none;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.thumbnail:hover .link {
    left: 0;
}

.caption p {
    color: #bdc7d0;
    padding-top: 10px;
}

.thongtinbv {
    color: #bdc7d0;
    padding-bottom: 10px;
    border-bottom: 1px solid #bdc7d0;
}

.baiviet h3 {
    font-size: 20px;
    font-family: serif;
    font-weight: 600;
}

.baiviet {
    margin-top: 100px;
}

.breadcrumb > .active {
    color: white;
}

.breadcrumb > li + li:before {
    content: ">";
}

.info .breadcrumb a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.info .breadcrumb a:hover {
    color: #27b899;
}

.info .breadcrumb {
    background: none;
    margin-top: 14px;
    float: right;
}

.info i.fa.fa-bars {
    color: black;
    background: white;
    padding: 6px 10px;
    font-size: 23px;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
}

.info h3 {
    font-size: 34px;
    font-family: lato;
}

.info {
    background: #2d3d4d;
    color: white;
    padding: 43px;
}

.navbar-brand > img {
    transition: all 0.5s;
    width: 100%;
}

.navbar-default .navbar-brand {
    padding: 0px;
}

.navbar img {
    top: 0px;
}

.navbar {
    margin-bottom: 0px;
}

nav.navbar.navbar-default {
    background: white;
    height: 100px;
    border: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #19bd9a;
    border-color: #19bd9a;
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px;
    padding: 35px 0px;
    margin: 0 24px;
    border-top: 5px solid transparent;
    font-weight: 700;
    color: #a3b0b8;
    transition: all 0.4s;
}

.icon {
    float: left;
    padding-top: 28px;
    padding-left: 24px;
    font-size: 26px;
    letter-spacing: 10px;
    color: #a3b0b8;
}

@media (max-width: 767px){
	*{
}

.navbar-toggle {
    margin-top: 22px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    padding-bottom: 19px;
}

.navbar-default .navbar-nav > li > a {
    padding: 15px;
}

.icon {
    display: none;
}

.navbar-brand > img {}

.navbar-brand > img {
    width: 80%;
    margin-left: 20px;
    margin-top: -8px;
}
}